{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>index</title>
</head>
<body onload="strClock();">

    <header>
        <div class="logo"><a href="/alarm">いちどね</a></div>
        <div class="nav1">
            <ul>
                <li><a href="/alarm">時間登録</a></li>
                <li><a href="/alarm">設定時刻一覧</a></li>
            </ul>
        </div>
        <div class="nav2">
            <ul>
                <li><a href="/alarm">新規登録</a></li>
                <li><a href="/alarm">ログイン</a></li>
                <li><a href="/alarm/logout">ログアウト</a></li>
            </ul>
        </div>
    </header>

    <main>
        <div id="timeDisplay"></div>
        <form method="post">
            <button type="submit" name="quizAppear">表示</button>
            <div class="window {{ quizHide }}">
    	        <section>
                    <h2>Q.問題文{{ quizText }}</h2>
                    <div class="choices">
                        <input type="hidden" name="quizId" value="{{ quizId }}">
                        <button type="submit" name="choice1" value="{{ quizChoices.0 }}">{{ quizChoices.0 }}</button>
                        <button type="submit" name="choice2" value="{{ quizChoices.1 }}">{{ quizChoices.1 }}</button>
                        <button type="submit" name="choice3" value="{{ quizChoices.2 }}">{{ quizChoices.2 }}</button>
                        <button type="submit" name="choice4" value="{{ quizChoices.3 }}">{{ quizChoices.3 }}</button>
                    </div>
                </section>
            </div>
        </form>
    </main>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>