{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>時間登録</title>
</head>
<body>

    <header>
        <div class="logo"><a href="/alarm">いちどね</a></div>
        <div class="nav1">
            <ul>
                <li><a href="/alarm">アラームへ戻る</a></li>
                <li><a href="/alarm">設定時刻一覧</a></li>
            </ul>
        </div>
        <div class="nav2">
            <ul>
                <li><a href="/alarm">新規登録</a></li>
                <li><a href="/alarm">ログイン</a></li>
            </ul>
        </div>
    </header>

    <main>
        <h1>23:59:10</h1>
        <form>
        <button name="time_register" onclick="clickEvent()">送信</button>
        </form>
    </main>
    <script>
        function clickEvent() {
            document.myform.submit();
        }
    </script>
</body>
</html>